.contact-item__wrapper {
  background-color: #f9f5f1;
  height: 100%;
}
.contact-item__image {
  width: 100%;
  padding-top: 4rem;
}
.contact-item__image img {
  width: 17rem !important;
  height: 17rem !important;
  border-radius: 50%;
  overflow: hidden;
}
.contact-item__text {
  padding: 0 4rem 4rem 4rem;
  text-align: center;
}
.contact-item__text-small {
  font-size: 1.4rem;
  line-height: 2.4rem;
}