@import "~/assets/styles/settings/_vars.scss";

.video {
	position: relative;
	height: 100%;

	&__element {
		z-index: 0;
		height: 100vh;
		width: 100vw;
		object-fit: cover;
	}

	&.is-inline{
		cursor: pointer;
	}

	&.is-inline .video__element{
		width: 100%;
		height: auto;
	}
}
